body {
  display: flex;
  justify-content: center;
  margin: 0;
}

.pokemons-app {
  display: flex;
  gap: 1rem;
}

.pokemons-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.pokemons-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.pokemons-item {
  background-color: #dea;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: .5rem;
  border-radius: 6px;
  border: 3px solid rgb(143, 168, 68);
  min-width: 12rem;
  text-transform: capitalize;
}